<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title> Admin Dashboard </title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/css/app.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assets/css/custom.css">
  <!-- toastr -->
<link rel="stylesheet" href="/assets/bundles/izitoast/css/iziToast.min.css">
<script src="/assets/bundles/izitoast/js/iziToast.min.js"></script>

</head>

<body>
  <!-- <div class="loader"></div> -->
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
     
      
      <%-include('./common/Header.ejs') %>

      
      <% if (userRole === 'admin') { %>
        <%- include('./common/AdminSidebar.ejs') %>
      <% } else if (userRole === 'agent') { %>
        <%- include('./common/AgentSidebar.ejs') %>
      <% } %>
      
      
      <!-- Main Content -->
      <div class="main-content">
        <div class="col-12 col-md-12 col-lg-12">


          <div class=" card ">
            <div class="card-header">
              <div class="pull-left">
                <h4 class="text-blue h4">Search &amp; Filters <a href="reporting" style="color:red;font-size:12px;">(Reset Filters)</a></h4>
              </div>
              <div class="pull-right">
              </div>
            </div>
            <form class="card-body" method="post" action="">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                      <div class="form-group">
                    <label>Agent Name: </label>
                    <select name="user" class="custom-select form-control" autocomplete="off">
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="admin">Abhishek - admin</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Cliff">Cliff - Cliff</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Alex">Alex - Alex</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Ricky">Ricky Roy - Ricky</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Arbaz">Arbaz - Arbaz</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="nathan">Nathan - nathan</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Allan">Allan - Allan</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Rodolfo">Rodolfo Martinez - Rodolfo</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="shivangi">shivangi - shivangi</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Malcolm">Malcolm - Malcolm</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="MJones">M Jones - MJones</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="John">John  - John</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Gustavo">Gustavo Gonzalez - Gustavo</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Glenn">Glenn - Glenn</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Farrell Brown">Farrell Brown - Farrell Brown</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="tom">Tom - tom</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Oliver">Oliver - Oliver</option>
                                                                          <option value="" hidden="">Select Agent</option>
                                      <option value="Rosie">Rosie - Rosie</option>
                                                                      </select>
                      </div></div>
                      <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label>Booking Type</label>
                  <select name="email_status" class="custom-select col-12">
                    <option value="">All Bookings</option>
                    <option value="1">New Booking</option>
                    <option value="2">Exchange</option>
                    <option value="3">Refund</option>
                    <option value="3">Future Credit</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label>Calendar: </label>
                    <input name="daterange" value="" class="form-control datetimepicker-range" placeholder="Select Date Range" autocomplete="OFF" type="text">
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label>CustomerPhone: </label>
                    <input name="daterange" value="" class="form-control datetimepicker-range" placeholder="Enter Customer Phone no." autocomplete="OFF" type="text">
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <label>&nbsp; </label>
                  <div class="form-group">
                  <input class="btn btn-lg btn-primary" value="Search" type="submit" name="submit">
                </div>
              </div>
                          
            </div>
            </form>
          </div>



          <div class="card">
            <div class="card-header">
              <h4>All Booking</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-md">
                  <thead class="text-center">
                  <tr >
                    <th>Customer</th>
                    <th>Price (USD)</th>
                    <th>Email Type</th>
                    <th>Date & Time</th>
                    <th>Agent</th>
                    <th>Cust Id</th>
                    <th>Action</th>
                  </tr>
                </thead>
                  
                  <tbody class="text-center">
                  <% result.forEach((item, index) => { %>
                  <tr>

                    <% if(item.booking_type == 'new_booking' || item.booking_type == 'exchange') { %>
                    <td><a href="/new_booking_draft/<%- item.customer_id %>?email=true&type=<%- item.booking_type %>" data-toggle="tooltip"  data-placement="right" data-original-title="Click Here"  class="text-decoration-none"><%= item.card_holder_name %></a></td>
                    <% }else if(item.booking_type == 'refund_form') { %>
                      <td><a href="/new_booking_draft_refund/<%- item.customer_id %>?email=true&type=<%- item.booking_type %>" data-toggle="tooltip"  data-placement="right" data-original-title="Click Here"  class="text-decoration-none"><%= item.card_holder_name %></a></td>
                      <% } else if(item.booking_type == 'seat_upgrade') { %>
                        <td><a href="/new_booking_draft_seat_upgrade/<%- item.customer_id %>?email=true&type=<%- item.booking_type %>" data-toggle="tooltip"  data-placement="right" data-original-title="Click Here"  class="text-decoration-none"><%= item.card_holder_name %></a></td>
                        <% }else if(item.booking_type == 'future_credit') { %>
                          <td><a href="/new_booking_draft_future_credit/<%- item.customer_id %>?email=true&type=<%- item.booking_type %>" data-toggle="tooltip"  data-placement="right" data-original-title="Click Here"  class="text-decoration-none"><%= item.card_holder_name %></a></td>
                          <% }else{ %>
                            <td><%= item.card_holder_name %></td>
                            <% } %>

                    <td><%= item.total_amount %></td>
                    <td><%= item.booking_type %></td> 
                    <td class="text-center"><%= item.created_at %><br>
                      <% if(item.status == 'working') { %>
                        <span style="color: rgb(254, 150, 150);font-weight: 600;"><%= item.status %></span>
                        <% } else if(item.status == 'sent_for_issuance') { %>
                          <span style="color: rgb(198, 198, 9);font-weight: 600;">Sent for Issuance</span>
                          <% } else if(item.status == 'charged') { %>
                            <span style="color: green;font-weight: 600;"><%= item.status %></span>
                            <% }else{ %>
                              <span style="color: red;font-weight: 600;"><%= item.status %></span>
                              <% } %>
                              (<%-  item.updated_time %>)</td>
                    </td>
                    <td><%= item.agent_name %></td>
                    <td><%= item.customer_id %></td>

                    <!-- <td><a href="/new_booking_draft/<%- item.customer_id %>?email=true" class="btn btn-primary">Details</a></td> -->

                    <td>
                      <div class="dropdown">
                        <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          &#x22EE;
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/new_booking_draft/<%- item.customer_id %>?email=true">View</a></li>
                          <li><a class="dropdown-item" href="/edit_booking/<%- item.customer_id %>">Edit</a></li>
                          <li><a class="dropdown-item text-danger delete-btn" href="#" data-id="<%- item.customer_id %>">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                    
                    
                  </tr>
                  <% }) %>
                </tbody>
              </table>
              </div>
            </div>
            <div class="card-footer text-right">
              <nav class="d-inline-block">
                <ul class="pagination mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".delete-btn").forEach(btn => {
        btn.addEventListener("click", function(event) {
          event.preventDefault();
          const customerId = this.getAttribute("data-id");
          if (confirm("Are you sure you want to delete this booking?")) {
            // window.location.href = `/delete_booking/${customerId}`;
            $.ajax({
              url:"/api/delete_booking",
              type:"json",
              method:"post",
              data: {customerId: customerId},
              success: function(res){
                window.location.reload();
              }
            })
          }
        });
      });
    });
    </script>
  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="/assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/assets/js/custom.js"></script>
</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>