<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Admin Dashboard</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="assets/css/app.min.css" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/components.css" />
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="assets/css/custom.css" />
    <!-- toastr -->
    <link
      rel="stylesheet"
      href="/assets/bundles/izitoast/css/iziToast.min.css"
    />
    <script src="/assets/bundles/izitoast/js/iziToast.min.js"></script>
  </head>

  <body>
    <!-- <div class="loader"></div> -->
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        <%-include('./common/Header.ejs') %> <% if (userRole === 'admin') { %>
        <%- include('./common/AdminSidebar.ejs') %> <% } else if (userRole ===
        'agent') { %> <%- include('./common/AgentSidebar.ejs') %> <% } %>

        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Docusign List</h4>

                    <div class="card-header-form row">
                      <!-- <form class="col-12"> -->
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"
                          id="search"
                        />
                        <div class="input-group-btn">
                          <button class="btn btn-primary" id="search_btn">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                      <!-- </form> -->
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th class="text-center">
                            <div
                              class="custom-checkbox custom-checkbox-table custom-control"
                            >
                              <input
                                type="checkbox"
                                data-checkboxes="mygroup"
                                data-checkbox-role="dad"
                                class="custom-control-input"
                                id="checkbox-all"
                              />
                              <label
                                for="checkbox-all"
                                class="custom-control-label"
                                >&nbsp;</label
                              >
                            </div>
                          </th>
                          <th>Full Name</th>
                          <th>Customer ID</th>
                          <th>Email</th>
                          <th>Booking Type</th>
                          <th>Created At</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        <tbody id="table-body">
                          <% form_data.forEach(function(form_data) { %>
                          <tr>
                            <td class="p-0 text-center">
                              <div class="custom-checkbox custom-control">
                                <input
                                  type="checkbox"
                                  data-checkboxes="mygroup"
                                  class="custom-control-input"
                                  id="checkbox-<%= form_data.username %>"
                                />
                                <label
                                  for="checkbox-<%= form_data.username %>"
                                  class="custom-control-label"
                                  >&nbsp;</label
                                >
                              </div>
                            </td>
                            <td><%= form_data.card_holder_name %></td>
                            <td><%= form_data.customer_id %></td>
                            <td><%= form_data.email %></td>
                            <td class="text-truncate">
                              <%= form_data.booking_type %>
                            </td>
                            <td class="align-middle">
                              <%= form_data.created_at %>
                            </td>
                            <td><%= form_data.status %></td>
                            <td>
                              <% if (form_data.signed_document) { %>
                              <a
                                href="/pdfupload/<%= form_data.signed_document %>"
                                download
                              >
                                Download PDF
                              </a>
                              <% } else { %> No Document Available <% } %>
                            </td>
                          </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="card-footer text-right">
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                        <!-- Previous Button -->
                        <li
                          class="page-item <%= currentPage === 1 ? 'disabled' : '' %>"
                        >
                          <a
                            class="page-link"
                            href="?page=<%= currentPage - 1 %>"
                            tabindex="-1"
                          >
                            <i class="fas fa-chevron-left"></i>
                          </a>
                        </li>

                        <!-- Page Numbers -->
                        <% for(let i = 1; i <= totalPages; i++) { %>
                        <li
                          class="page-item <%= currentPage === i ? 'active' : '' %>"
                        >
                          <a class="page-link" href="?page=<%= i %>"
                            ><%= i %></a
                          >
                        </li>
                        <% } %>

                        <!-- Next Button -->
                        <li
                          class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>"
                        >
                          <a
                            class="page-link"
                            href="?page=<%= currentPage + 1 %>"
                          >
                            <i class="fas fa-ch evron-right"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="settingSidebar">
            <a href="javascript:void(0)" class="settingPanelToggle">
              <i class="fa fa-spin fa-cog"></i>
            </a>
            <div class="settingSidebar-body ps-container ps-theme-default">
              <div class="fade show active">
                <div class="setting-panel-header">Setting Panel</div>
                <div class="p-15 border-bottom">
                  <h6 class="font-medium m-b-10">Select Layout</h6>
                  <div class="selectgroup layout-color w-50">
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        name="value"
                        value="1"
                        class="selectgroup-input-radio select-layout"
                        checked
                      />
                      <span class="selectgroup-button">Light</span>
                    </label>
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        name="value"
                        value="2"
                        class="selectgroup-input-radio select-layout"
                      />
                      <span class="selectgroup-button">Dark</span>
                    </label>
                  </div>
                </div>
                <div class="p-15 border-bottom">
                  <h6 class="font-medium m-b-10">Sidebar Color</h6>
                  <div class="selectgroup selectgroup-pills sidebar-color">
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        name="icon-input"
                        value="1"
                        class="selectgroup-input select-sidebar"
                      />
                      <span
                        class="selectgroup-button selectgroup-button-icon"
                        data-toggle="tooltip"
                        data-original-title="Light Sidebar"
                        ><i class="fas fa-sun"></i
                      ></span>
                    </label>
                    <label class="selectgroup-item">
                      <input
                        type="radio"
                        name="icon-input"
                        value="2"
                        class="selectgroup-input select-sidebar"
                        checked
                      />
                      <span
                        class="selectgroup-button selectgroup-button-icon"
                        data-toggle="tooltip"
                        data-original-title="Dark Sidebar"
                        ><i class="fas fa-moon"></i
                      ></span>
                    </label>
                  </div>
                </div>
                <div class="p-15 border-bottom">
                  <h6 class="font-medium m-b-10">Color Theme</h6>
                  <div class="theme-setting-options">
                    <ul class="choose-theme list-unstyled mb-0">
                      <li title="white" class="active">
                        <div class="white"></div>
                      </li>
                      <li title="cyan">
                        <div class="cyan"></div>
                      </li>
                      <li title="black">
                        <div class="black"></div>
                      </li>
                      <li title="purple">
                        <div class="purple"></div>
                      </li>
                      <li title="orange">
                        <div class="orange"></div>
                      </li>
                      <li title="green">
                        <div class="green"></div>
                      </li>
                      <li title="red">
                        <div class="red"></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="p-15 border-bottom">
                  <div class="theme-setting-options">
                    <label class="m-b-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        id="mini_sidebar_setting"
                      />
                      <span class="custom-switch-indicator"></span>
                      <span class="control-label p-l-10">Mini Sidebar</span>
                    </label>
                  </div>
                </div>
                <div class="p-15 border-bottom">
                  <div class="theme-setting-options">
                    <label class="m-b-0">
                      <input
                        type="checkbox"
                        name="custom-switch-checkbox"
                        class="custom-switch-input"
                        id="sticky_header_setting"
                      />
                      <span class="custom-switch-indicator"></span>
                      <span class="control-label p-l-10">Sticky Header</span>
                    </label>
                  </div>
                </div>
                <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                  <a
                    href="#"
                    class="btn btn-icon icon-left btn-primary btn-restore-theme"
                  >
                    <i class="fas fa-undo"></i> Restore Default
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="editUserModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editUserModalLabel">Edit Staff</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editStaffForm">
              <input type="hidden" id="editUserId" name="user_id" />
              <div class="form-group">
                <label for="editFullName">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="editFullName"
                  name="full_name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="editUsername">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="editUsername"
                  name="username"
                  required
                />
              </div>
              <div class="form-group">
                <label for="editDepartment">Department</label>
                <select
                  class="form-control"
                  id="editDepartment"
                  name="department"
                  required
                >
                  <option value="PPC">PPC</option>
                  <option value="META">META</option>
                </select>
              </div>
              <div class="form-group">
                <label for="editRole">Role</label>
                <select class="form-control" id="editRole" name="role" required>
                  <option value="Agent">Agent</option>
                  <option value="HOD">HOD</option>
                  <option value="Admin">Admin</option>
                </select>
              </div>
              <!-- Add other fields as required -->
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.querySelectorAll(".delete-user").forEach((button) => {
        button.addEventListener("click", function (event) {
          event.preventDefault();
          const userId = this.getAttribute("data-id");

          if (confirm("Are you sure you want to delete this user?")) {
            fetch(`/delete/${userId}`, {
              method: "DELETE",
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.message) {
                  alert(data.message);
                  location.reload();
                } else {
                  alert("Failed to delete the user.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          }
        });
      });

      $(document).ready(function () {
        // Handle edit button click
        $(".edit-btn").click(function () {
          const userId = $(this).data("user-id");

          // Fetch user details via AJAX
          $.ajax({
            url: `/get_user/${userId}`,
            method: "GET",
            success: function (response) {
              // Populate modal fields with user data
              $("#editUserId").val(response.id);
              $("#editFullName").val(response.full_name);
              $("#editUsername").val(response.username);
              $("#editDepartment").val(response.department);
              $("#editRole").val(response.userRole);

              // Show modal
              $("#editUserModal").modal("show");
            },
            error: function (error) {
              console.error("Error fetching user data:", error);
              alert("Failed to load user data.");
            },
          });
        });

        // Handle form submit for updating user details
        $("#editStaffForm").submit(function (event) {
          event.preventDefault();

          // Send update request via AJAX
          $.ajax({
            url: "/update_user",
            method: "POST",
            data: $(this).serialize(),
            success: function (response) {
              alert("User updated successfully.");
              $("#editUserModal").modal("hide");
              location.reload(); // Reload the page to see changes
            },
            error: function (error) {
              console.error("Error updating user:", error);
              alert("Failed to update user.");
            },
          });
        });
      });
    </script>

    <script>
      let btn = document.getElementById("search_btn");
      btn.addEventListener("click", function (e) {
        e.preventDefault();
        let searchinput = document.getElementById("search")?.value;

        if (!searchinput) {
          return iziToast.error({
                title: "Error",
                message: "Input is Empty",
                position: "topRight",
              });
        }

        $.ajax({
          url: "/api/SearchData",
          type: "json",
          method: "post",
          data: {
            searchinput: searchinput,
          },
          success: function (res) {
            if (res.success) {
              const tableBody = document.getElementById("table-body");
              tableBody.innerHTML = ""; // Clear existing rows

              res.data.forEach((form_data) => {
                const row = `
        <tr>
          <td class="p-0 text-center">
            <div class="custom-checkbox custom-control">
              <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-${
                form_data.username
              }">
              <label for="checkbox-${
                form_data.username
              }" class="custom-control-label">&nbsp;</label>
            </div>
          </td>  
          <td>${form_data.card_holder_name}</td>
          <td>${form_data.customer_id}</td>
          <td>${form_data.email}</td>
          <td class="text-truncate">${form_data.booking_type}</td>
          <td class="align-middle">${form_data.created_at}</td>
          <td>${form_data.status}</td>
          <td>
            ${
              form_data.signed_document
                ? `<a href="/pdfupload/${form_data.signed_document}" download>Download PDF</a>`
                : "No Document Available"
            }
          </td>
        </tr>
      `;
                tableBody.insertAdjacentHTML("beforeend", row);
              });
            } else {
              iziToast.error({
                title: "Error",
                message: "Something is Wrong",
                position: "topRight",
              });
            }
          },
          error: function (err) {},
        });
      });
    </script>

    <!-- General JS Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/assets/js/custom.js"></script>
  </body>

  <!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>
