<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Device Info</h1>
    <p>Browser: <%= DeviceInfo.browser %></p>
    <p>Browser Version: <%= DeviceInfo.browserVersion %></p>
    <p>OS: <%= DeviceInfo.os %></p>
    <p>OS Version: <%= DeviceInfo.osVersion %></p>
    <p>Device Type: <%= DeviceInfo.deviceType %></p>
    <p>Current Date: <%= DeviceInfo.CurrentDate %></p>
    <p>System IP: <%= DeviceInfo.systemIp %></p>
    <p>User IP: <%= DeviceInfo.userIp %></p>
</body>
</html>